:root {
    --bg: #926887;
}

/* .caixaPerfil {
    width: 600px;
    background-color: var(--bg);
    padding: 20px;
} */

.caixaPerfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg);

    width: 80%;
    min-height: 20vh; /* 20% do tamanho da view */
    padding: 2rem; /* rem = 16px 2x16 = 32px */
}

section {
    width: 100vw; /* 100% da view */
}

img {
    max-width: 100%;
    height: auto;
    display: block; /* sรณ vai ser setada como um bloco completo */
}

@media (max-width:600px){
    .caixaPerfil{
        background-color: #965584;
        padding: 1rem; /* 16px */
    }
}